
""" Settings for Archiver program
"""

# archive.org settings
archivedotorg_pdf_bucket = "vidyalaya"
archivedotorg_creator = "Ramakrishna Mission Vidyalaya"
archivedotorg_download_base = "http://www.archive.org/download/"
archivedotorg_upload_base = "http://s3.us.archive.org/"
# get these keys from http://www.archive.org/account/s3.php
archivedotorg_access_key = "abcd"
archivedotorg_secret_key = "xyz"
archivedotorg_config = "archive.ini"


# Posterous settings
posterous_username = "abcd"
posterous_password = "xyz"
posterous_primary_sitename = "pqr"
posterous_backup_sitename = "pqr"
posterous_config = "posterous.ini"
